body {
    background-color:#202124;
    display: flex;
    flex-direction: column;
    height: auto;
}
.card {
    display: flex;
    flex-direction: column;
    background-color: #0b1f59;
    color: #d2cccc;
    width: 600px;
    height: 400px;
    align-self: center;
}
.card p, .card h2 {
    margin-left: 10px;
}
.top-card, .bottom-card {
    flex: 1;
    background-color: #19216e;
    margin: 10px;
}
.bottom-card {
    display: flex;
    flex-direction: column;
}
.bottom-card p {
    margin-left: 10px;
}
.top-term-card, .bottom-term-card {
    flex: 1;    
    background-color: #19216e;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.card button:hover, #createButton:hover, #clearLog:hover {
    cursor:pointer;
    border-color: white;
}
.card button {
    height: 40px;
    width: 200px;
    font-size: 11px;
    background-color: #19216e;
    border: 1px solid gray;
    color: white;
}

.cardTwo {
    color: white;
    border: 1px solid green;
    height: auto;
}
.sectionTop {
    display: flex;
    align-items: center;
    gap: 3px;
    /* border: 1px solid white; */
    
}
#listOfCards {

    width: 200px;
    height: 20px
}
#createButton, #clearLog {
    color: white;
    background-color: brown;
    height:25px;
}
#stopBtn {
    display: none;
}
.termLog {
    display:flex;
    align-items: center;
    gap: 10px;
}
#listOfTitles {
    border: 1px solid red;
    color: #1eca1e;
    
}
@media only screen and (max-width: 480px) {
    .card {        /* display: flex; */
        width: 390px;
    }
    .cardTwo {
        /* padding: 10px; */
        padding-left: 2px;
    }
    .sectionTop {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 5px;
    }
    .termBox {
        display: flex;
        margin-top: 5px;
        gap: 5px;
    }
    .termLog {
        border: 1px solid green;
    }
    #clearLog {
        font-size: 12px;
        height: 35px;
        width: 75px;
    }
}