body {
    background-color:#202124;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #0b1f59;
    color: #d2cccc;
    width: 600px;
    height: 400px;
}
.card p, .card h2 {
    margin-left: 10px;
}
.top-card, .bottom-card {
    flex: 1;
    background-color: #19216e;
    margin: 10px;
}
.bottom-card {
    display: flex;
    flex-direction: column;
}
.bottom-card p {
    margin-left: 10px;
}
.top-term-card, .bottom-term-card {
    flex: 1;    
    background-color: #19216e;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.card button:hover {
    cursor:pointer;
    border: 1px solid white;
}
.card button {
    height: 40px;
    width: 200px;
    font-size: 11px;
    background-color: #19216e;
    border: 1px solid gray;
    color: white;
}
.cardTwo form {
    margin-top: 80px;
    padding: 10px;
    color: white;
    border: 2px solid black;
    border-top: 2px solid red;
    border-bottom: 2px solid brown;
    border-right: 2px solid orange;
    border-left: 2px solid green;
}
.cardTwo {
    color: white;
    border: 1px solid green;
    height: 500px;
}